body{
    margin:0;
    padding:0;
}
.contentBox{
    width: 1400px;
    margin:0 auto;
    /*border:solid 1px black;*/
    font-size:24px;
    overflow:hidden;
    height: 1100px;
}
.title{
    float: left;
    /*height:1100px;*/
    width: 250px;
    background-color:cadetblue;
    text-align:center;
    color:white;
    margin-bottom: -3000px;
    padding-bottom: 3000px;

}
.title h1{
    margin-top: 50px;
    font-size: 48px;
}
.detailInfo{
    /*height: 1100px;*/
    float:left;
    padding-left: 30px;
    margin-bottom: -3000px;
    padding-bottom: 3000px;
    background-color: #40C322;
}

.content h3{
    font-size:36px;
    margin-bottom: 10px;
}
.content b{
    display: inline-block;
    margin-left: 50px;
    margin-right:5px;
}
.content .firstB{
    margin-left:0px;
}
.workInfo b{
    display:block;
    margin-left: 0px;
    margin-bottom:10px;
}
.workInfo span{
    display:block;
    margin-bottom: 10px;
}